/* SidebarWrapper.css */

.circle-button-content {
  position: relative;
  width: 50px;
  height: 50px;
  /* Manteniamo lo sfondo trasparente perché il button ha già bg-dark */
}

.circle-button-content svg.circular-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg); /* Ruotiamo il testo di un quarto di giro per far partire la lettura da sinistra */
  pointer-events: none; /* In modo che il click passi sul button, non sull’SVG */
}

.circle-button-content svg.circular-text text {
  fill: white;
  font-size: 6px;
  letter-spacing: 0.5px;
}

.circle-button-content .icon-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
}
